:root {
    --main-content-width: 640px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #{$snow};
    margin: 0;

    > header {
        background: #{$link-gradient};
        text-shadow:0px 1px 0px #00000088;
        border:1px solid #{$dark-gray};
        border-width: 0 0 3px 0;
        box-shadow: 0 2px 8px #00000010;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            > div {
                font-size: 1.8rem;
                font-weight: #{$nunito-bold};
                font-family: #{$nunito};
                padding: 12px 0;
                color: #{$snow};
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            > nav {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;

                > div {
                    font-size: 1.2rem;
                    font-weight: #{$nunito-bold};
                    font-family: #{$nunito};
                    color: #{$snow};
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: var(--main-content-width);

    > section {
        background-color: #{$white};
        box-shadow: 0 2px 8px #00000010;
        border-radius: 8px;
        margin: 16px 0;
        overflow: hidden;
        width: 100%;

        > header {
            background: #{$link-gradient};
            padding: 10px 20px;
            text-shadow:0px 1px 0px #00000088;
            box-shadow:inset 0px 1px 0px 0px #ffffff40;
            border:1px solid #{$link-blue-dark};
            border-width: 1px 1px 0;
            border-radius: 8px 8px 0 0;

            h1 {
                font-size: 1.3rem;
                font-weight: #{$nunito-bold};
                font-family: #{$nunito};
                color: #{$snow};
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        > article {
            padding: 16px 20px 20px;
            border: 1px solid #{$gray};
            border-width: 0 1px 1px;
            border-radius: 0 0 8px 8px;
        }
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 16px;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }
}

.sections {
    border: 1px solid #{$gray};

    section {
        display: flex;
        justify-content: space-between;
        padding: 10px 14px;

        &:nth-child(2n) {
            background-color: #{$snow};
        }

        .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .tools {
            display: flex;

            a {
                margin-left: 16px;
            }
        }
    }
}

.wrapper {
    @include after-mobile {
        margin: 0 auto;
        width: 1000px;
    }
}
