* {
    color: #{$mine-shaft};
    font-family: #{$roboto};
    font-size: 10pt;
}

a {
    color: #{$link-blue-sea};

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.6em;
}

.error-message {
    color: #{$red-dark};
    margin-bottom: 16px;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.message {
    text-align: center;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

::selection {
    color: white;
    background: #{$link-blue-medium};
}
