* {
    color: #{$mine-shaft};
    font-family: #{$roboto};
    font-size: 14px;
}

a {
    color: #{$link-blue-sea};

    &:hover {
        text-decoration: underline;
    }
}

.error-message {
    color: #{$red-dark};
    margin-bottom: 12px;
    text-align: center;
}

::selection {
    color: white;
    background: #{$link-blue-medium};
}
