#Register {
    display: flex;
    width: initial;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include after-mobile {
        section {
            width: 400px;
        }
    }
}
