// Fonts
$roboto: 'Roboto', sans-serif;
$nunito: 'Nunito', sans-serif;

// Font weights
$roboto-thinnest: 100;
$roboto-thin: 300;
$roboto-normal: 400;
$roboto-medium: 500;
$roboto-bolder: 700;
$roboto-black: 900;

$nunito-thinner: 200;
$nunito-thin: 300;
$nunito-normal: 400;
$nunito-bold: 600;
$nunito-bolder: 700;
$nunito-fat: 800;
$nunito-black: 900;

// Colors
$silver: #e9e9e9;
$white: #ffffff;
$snow: #f8f8f8;
$chalk: #efefef;
$gray: #d8d8d8;
$dark-gray: #b8b8b8;
$mine-shaft: #464646;
$charcoal: #383838;
$black: #000000;
$dirt: #35322b;
$link-blue: #56c6fa;
$link-blue-sea: #2e95c5;
$link-blue-medium: #2779a0;
$link-blue-dark: #3d677c;
$link-blue-dim: #30404c;
$red: #ec4d4d;
$red-dark: #b82e2e;
$brown: #7d5d3b;

// Gradients
$link-light-gradient: linear-gradient(#3f7c9b, #3d677c);
$link-gradient: linear-gradient(#3d677c, #1C4356);
$link-dark-gradient: linear-gradient(#15303d, #1C4356);

$brown-gradient: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
